<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>delete </title>
    <link rel="stylesheet" href="/del.css" type="text/css" />
  </head>
  <body>
    <div class="login-box">
      <h2>Entrer le numero de Reservation</h2>
      <form action="/del" method="post">
        <div class="user-box">
          <input type="string" id="RESERVATION_ID" name="RESERVATION_ID"  >
          <label>ID</label>
        </div>
        <a href="#">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <button type="submit"> Supprimer</button>
        
        </a>
      </form>
    </div>
  </body>
</html>
