

<html>
    <head>
        <title>LOGIN</title>
        <link type="text/css" rel="stylesheet" href="style.css">
        <script src="https://kit.fontawesome.com/90f0a938cd.js"></script>
    </head>
    <body>
        <section class="imp">
            <section>
            <div class="login show" id="one">
                <div class="textbox slide-left2">
                <div class="head">
                    <h1>Login</h1>
                </div>
                    <form action="/submit" method="post">
                        <input type="text" name="Username" placeholder="Username">
                        <input type="password" name="Password" placeholder="Password">
                        <button type="submit">SIGN IN</button>
                    </form>
                </div>
            </div>
            <div class="sec show" id="two">
                <div class="textbox slide-left">
                    <img src="/img.jpg" alt="img">
                </div>
            </div>
        </section>
        
        
        </section>
        
   
    </body>
</html>
